<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>Splurty was built by <a href="https://github.com/hanshank">Hans Martin Hanken</a>. A young web developer who wants to create beautiful applications with code.</p>
  <br />
  <p>Hans studied his bachelors degree in Aalesund, Norway, and is now working as a freelancer with different coding projects and web applications.</p>   

</div class="row">

   <div class="col-12 col-sm-4">
    <%= image_tag 'hans.jpg', class: 'img-fluid' %>
   </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Hans Martin Hanken</h2>
    <br />
    <p>Hans started coding at work, when his bosses wanted a better website. From there he learned to code through an online coding bootcamp called "The Firehose Project".</p>
  </div>
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />